@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.Presentation {
  position:absolute;
  width:160mm;
  height: 220mm;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background: url('../../image/addOrderImage.png') no-repeat ;
  background-size:600px;
}
.Shadow {
  position:absolute;
  width:130mm;
  height: 195mm;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  box-shadow: 12mm 8mm 10mm 3mm rgb(59, 59, 59);
}
.Head {
  width:130mm;
  height: 20mm;
  position: absolute;
  margin-top: 14mm;
  margin-left: 36mm;
  font-family: 'Marck Script', cursive;
  color: rgba(72, 72, 72, 0.549);
  font-size:15mm;
}
.Orders {
  position: absolute;
  margin-top: 161px;
  margin-left: 30mm;
}
.Pages {
  position: absolute;
  margin-top: 740px;
  margin-left: 500px;
  font-size:9mm;
}
.ForButtonBack {
  position:absolute;
  margin-top: 698px;
  margin-left: 200px;
}
.Pagination{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  margin-top: 120mm;
  margin-left: auto;
  margin-right: auto;
}